/* styles.css */

.container-fluid {
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  font-size: larger;
  color:black;
}
.col-6 {
  margin-top: 1rem;
}

.mt-2{
margin-top: 1;
}

h1 {
 font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #0b0b5e;
  text-align: center;
  
}

h2 {
 font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: #1a1a80;

}

.rstanimg {
  align-items: auto;
  margin: 0 auto;
}
